<div class="container">
  <img style="float:left" src="http://cdn.sstatic.net/stackoverflow/img/apple-touch-icon@2.png?v=fde65a5a78c6" class="img-responsive" alt="Responsive image" width="72" height="72"><h1>hack<b>overflow</b></h1><p style="float:right"><%= link_to 'New Question', new_question_path, class: "btn btn-warning btn-md"%></p>
</div>

<div class="container">

    <p><h3>Questions</h3>

  <table class="table table-hover">
    <thead>
      <div class="row">
        <th class="col-md-12">Title</th>
      </div>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td class="col-md-12"><%= question.title %></td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

